.showcase-container {
  /* width; */
  position: relative;
  z-index: 3;
}

.showcase-content {
  max-width: 1200px;
  margin: 2em auto;
}
.show-box {
  margin: 0 auto;
  background: red;
  height: 600px;
  width: 80%;
  /* box-shadow: 20px 20px #000; */
  /* -webkit-box-shadow: 0 0 10px #000; */
  box-shadow: 0 0 20px #000;
}
